{{extend 'layout.html'}}
<meta http-equiv="refresh" content="10">
<script>
   function stopvpn(stringg){
       uri = "type=stop&xmppid="+stringg
       var r = $.post( "http://127.0.0.1:8000{{=URL('sendtoclient')}}?"+encodeURI(uri));
   }
   function changeip(xmppid){
       ip = prompt("please enter new IP","192.168.10.1")
       if (ip != null){
           uri = "type=change_ip&xmppid=" + xmppid + "&ip=" + ip
           $.post( "http://127.0.0.1:8000{{=URL('set')}}?"+encodeURI(uri));
           $.post( "http://127.0.0.1:8000{{=URL('sendtoclient')}}?"+encodeURI(uri));
       }
   }
</script>
<h1>Edit GVPN</h1>
<h3>IP: Xmpp Id: Xmpp Password: Xmpp Host</h3>

{{for i in range(1,len(json)+1):}}
    {{= " : ".join(json[i].values()[1:]) }}
<a style = " color:{{if json[i]['status'] == 'stopped':}}red {{else:}} green {{pass}}" > : {{=json[i]['status']}}</a>
    <button onclick="stopvpn( '{{=json[i]['jid']}}' )">Stop</button> : 
    <button onclick="changeip( '{{=json[i]['jid']}}' )">Change IP</button>
    <br>
{{pass}}
