{{extend 'layout.html'}}

<script>
   function stopvpn(stringg){
       uri = "type=stop&xmppid="+stringg
       var r = $.post( "http://127.0.0.1:8000{{=URL('sendtoclient')}}?"+encodeURI(uri));
   }
   function changeip(xmppid){
       ip = prompt("please enter new IP","192.168.10.1")
       if (ip != null){
           uri = "type=change_ip&xmppid=" + xmppid + "&ip=" + ip
           $.post( "http://127.0.0.1:8000{{=URL('set')}}?"+encodeURI(uri));
           $.post( "http://127.0.0.1:8000{{=URL('sendtoclient')}}?"+encodeURI(uri));
       }
   }

   window.setInterval(reloader, 2000);
   var json_file = null;
   function reloader() {
    $.getJSON("http://127.0.0.1:8000{{=URL('editgvpn.json')}}", function(result){
        if(json_file == null){
            json_file = JSON.stringify(result);
        }
        else{
            if(json_file !== JSON.stringify(result)){
                location.reload(true);
                //<meta http-equiv="refresh" content="10">
            }
        }
    });
    }

</script>
<h1>Edit GVPN</h1>


{{for i in range(1,len(json)+1):}}
    <div>
    <h2>{{=json[i]['vpn_name']}}</h2>
    <h5>{{=json[i]['vpn_admin'] +":"+ json[i]['vpn_password'] +":"+ str(json[i]['vpn_ipv4mask']) }}</h5>
    <h5>Nodes</h5>
    {{ nodes = json[i]['nodes'] }}
    {{ for j in range(1,len(nodes)+1): }}

            {{= " : ".join(nodes[j].values()[1:]) }}
            <a style = " color:{{if nodes[j]['status'] == 'stopped':}}red {{else:}} green {{pass}}" > : {{=nodes[j]['status']}}</a>
            <button onclick="stopvpn( '{{= nodes[j]['jid'] }}' )">Stop</button> : 
            <button onclick="changeip( '{{= nodes[j]['jid'] }}' )">Change IP</button>
            <br>

    {{pass}}
    </div>
{{pass}}
