{{extend 'layout.html'}}
<link rel="stylesheet" type="text/css" href="/IPOP/static/css/d3graph.css">
<script src="/IPOP/static/js/d3graph.js"></script>
<script src="/IPOP/static/js/d3.min.js"></script>
<script src="/IPOP/static/js/d3.tip.v0.6.3.js"></script>
<script>
    //networkmap click callback
   function ongraphclick(d) {
          if (d3.event.defaultPrevented) return; // ignore drag
          //if node type is xmpp server than redirect to logs, if it is ipop node redirect to monitoring page 
          if(d.group == 0){
              uri = "node="+d.name;
              window.location = "{{=URL('default','log')}}?"+encodeURI(uri);
           }
           else{
              uri = "xmppid="+d.name;
              window.location = "{{=URL('default','monitor')}}?"+encodeURI(uri);
           }
    }
    function delet(stringg, is_running){
        if (is_running == "True"){
            alert("Sorry, the node is still running, please stop it before deleting");
            return;
        }
        var r = confirm("Are you sure you want to delete node: "+stringg+ " permanantly?");
        if (r == false) {
            return;
        } 
       uri = "jids="+stringg;
       var r = $.get( "{{=URL('default','delet')}}?"+encodeURI(uri));
   }
   function stopvpn(stringg){
       var r = confirm("Are you sure you want to stop node: "+stringg+ "?");
        if (r == false) {
            return;
        } 
       uri = "type=stop&xmppid="+stringg;
       var r = $.post( "{{=URL('default','sendtoclient')}}?"+encodeURI(uri));
   }
   function changeip(xmppid){
       ip = prompt("Please enter new IP","192.168.10.1")
       if (ip != null){
           uri = "type=change_ip&xmppid=" + xmppid + "&ip=" + ip;
           $.post( "{{=URL('default','set')}}?"+encodeURI(uri));
           $.post( "{{=URL('default','sendtoclient')}}?"+encodeURI(uri));
       }
   }

   window.setInterval(reloader, 2000);
   var json_file = null;
   function reloader() {
    $.getJSON("{{=URL('default','editgvpn.json')}}", function(result){
        if(json_file == null){
            json_file = JSON.stringify(result);
        }
        else{
            if(json_file !== JSON.stringify(result)){
                location.reload(true);
                //<meta http-equiv="refresh" content="10">
            }
        }
    });
    }

//networkmap fetch data
{{for i in range(1,len(json)+1):}}  
    $.getJSON("{{=URL('default','getgraph.json?vpnid='+ str(json[i]['vpn_id'])) }}", function(result){
        creategraph(result,"#networkmap_{{=json[i]['vpn_id']}}");
    });
{{pass}}

</script>





<div class="container-fluid row" style="background-color:#673ab7;color:#fff;height:300px;">
  <div class="page-header">
        <h1>Edit VPN</h1>      
   </div>

  <h3>Scroll to your VPN</h3>
  <p>stop, edit ip, delete a node</p>
  <p>click on the node graph to get the monitoring info/ log files</p>
</div>

<div class="row">
<nav class="navbar navbar-default" data-spy="affix" data-offset-top="197">
  <div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Edit</a>
    </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
            {{for i in range(1,len(json)+1):}}
                <li><a href="#vpn_{{=json[i]['vpn_name']}}">{{=json[i]['vpn_name'].capitalize()}}</a></li>
            {{pass}}
        </ul>
      </div>
  </div>
</nav>  
</div>


{{colors = ['#1E88E5','#ff9800','#00bcd4','#009688','#ff9800','#673ab7']}}
{{for i in range(1,len(json)+1):}}

    <div id="vpn_{{=json[i]['vpn_name']}}" class="row container-fluid" style="padding:25px; padding-top:50px; background-color: {{=colors[i%len(colors)]}} ">
       <div class="page-header">
          <h1>{{=json[i]['vpn_name'].capitalize()}}</h1>
       </div>

       <div class="row container-fluid">     
           <div class="col-sm-8" id="networkmap_{{=json[i]['vpn_id']}}"></div>

           <div class="col-sm-4">
               <h2>Details:</h2>
               <table class="table">
                    <tbody>
                        <tr><td>Admin XMPP ID</td><td>{{=json[i]['vpn_admin']}}</td></tr>
                        <tr><td>Admin XMPP Password</td><td>{{=json[i]['vpn_password']}}</td></tr>
                        <tr><td>IP4 Mask</td><td>{{=json[i]['vpn_ipv4mask']}}</td></tr> 
                    </tbody>
                </table>
           </div>
       </div>
            
       <div class="row container-fluid" style="overflow:auto;">
            <h2>Nodes</h2>
            <table class="table table-hover" style="font-size:15px;">
                    <thead><tr>
                        <th>IP</th><th>XMPP ID</th><th>XMPP Password</th><th>XMPP Host</th><th>Status</th><th>Stop</th><th>Change IP</th><th>Delete Node</th>
                      </tr></thead>
                    <tbody>
                        {{ nodes = json[i]['nodes'] }}
                        {{ for j in range(1,len(nodes)+1): }}
                            <tr>
                                <td>{{= nodes[j]['ip'] }}</td>
                                <td>{{= nodes[j]['jid'] }}</td>
                                <td>{{= nodes[j]['password'] }}</td>
                                <td>{{= nodes[j]['xmpp_host'] }}</td>
                                <td>
                                {{if nodes[j]['status'] != "stopped":}}
                                    <span class="glyphicon glyphicon-ok-sign" style="font-size:20px;color:green"></span>
                                {{else:}}
                                    <span class="glyphicon glyphicon-remove-sign" style="font-size:20px;color:red"></span>
                                {{pass}}
                                </td>
                                <td><a><span class="glyphicon glyphicon-stop" onclick="stopvpn( '{{= nodes[j]['jid'] }}' )" style="font-size:20px;color:black"></span></a></td> 
                                <td><a><span class="glyphicon glyphicon-edit" onclick="changeip( '{{= nodes[j]['jid'] }}' )" style="font-size:20px;color:blue"></span></a></td> 
                                <td><a><span class="glyphicon glyphicon-trash" onclick="delet( 
                                '{{= nodes[j]['jid'] }}',
                                '{{= nodes[j]['status'] != "stopped"}}'  
                                )" style="font-size:20px;color:#6600CC"></span></a></td> 
                            </tr>      
                            
                        {{pass}}
                    </tbody>
            </table>
        </div>
    </div>

{{pass}}

