{{extend 'layout.html'}}
<link rel="stylesheet" type="text/css" href="/IPOP/static/css/d3graph.css">
<script src="/IPOP/static/js/d3graph.js"></script>
<script src="/IPOP/static/js/d3.min.js"></script>
<script src="/IPOP/static/js/d3.tip.v0.6.3.js"></script>

<script>
    $.getJSON("http://127.0.0.1:8000{{=URL('getgraph.json?vpnid=1')}}", function(result){
	    creategraph(result,"#networkmap");
    });
    $.getJSON("http://127.0.0.1:8000{{=URL('getgraph.json?vpnid=2')}}", function(result){
	    creategraph(result,"#networkmap2");
    });
    function ongraphclick(d) {
          if (d3.event.defaultPrevented) return; // ignore drag
          alert(d.name);
      }
</script>
<div id="networkmap"></div>
<div id="networkmap2"></div>
