{{extend 'layout.html'}}

<script>
function switch_file(i)
{
    $(".trigger").css({"color":"black"})
    $("#trigger_"+i).css({"color":"purple"})
    $("#log_container").children().css({"display":"none"});
    $("#log_"+i).css({"display":"block"})
}

function delete_log(name_log){
    _data = {
        node: '{{=request.get_vars['node']}}',
        name: name_log
    }
    $.getJSON("{{=URL('default','log.json')}}", $.param(_data )+'&type=del',function(result){
         location.reload(); 
    });
}

</script>

<div class="container-fluid page-header">
    <h1>Logs {{if request.get_vars['node']:}}
        for {{=request.get_vars['node'].capitalize()}}
    {{pass}}</h1>      
</div>


{{if not json:}}

<div class="container-fluid" style="height:500px">
    {{if request.get_vars['node']:}}
        <h3> Sorry there were no log files for {{=request.get_vars['node']}}</h3>
    {{else:}}
        <h3> Please specify the node you want the log files for</h3>
    {{pass}}
</div>

{{else:}}
<div class="container-fluid row">
    {{i=0}}
    <div class='col-sm-2' style="background-color:#1E88E5;height:700px">
        <div class="page-header"><h2>Files</h2></div>
        {{for each_log in json:}}
            {{i+=1}}
                <div id="trigger_{{=i}}" class="trigger" onclick="switch_file({{=i}});" style="color:black" >
                    <span class="glyphicon glyphicon-file" style="font-size:60px"></span>
                    <p style="font-size:20px">{{=each_log.name}}</p>
                </div>
                <!--<button id="trigger_{{=i}}" onclick="switch_file({{=i}});">{{=each_log.name}}</button>-->
        {{pass}}
    </div>
    <!-- seperate column fill -->
    {{i=0}}
    <div id="log_container" class="col-sm-10" style="background-color:#673ab7;height:700px;">
        {{for each_log in json:}}
            {{i+=1}}
            <div id="log_{{=i}}" style="height:100%;width:100%;display:none;">
                <div class="page-header">
                    <h2 style="color:white;">{{=each_log.name.capitalize()}}</h2>
                    <h2 style="text-align:right;"><a><span class="glyphicon glyphicon-trash" onclick="delete_log('{{=each_log.name}}')"></span></a></h2>
                </div>
                <textarea style="background-color:transparent; color:white;height:80%;width:100%;">
                    {{=each_log.log}}
                </textarea>
            </div>       
        {{pass}}
    </div>
</div>
{{pass}}
<!--
<h1>{{=request.get_vars['node']}}</h1>
{{if not json:}}
    <h3> Could not fetch Log file</h3>
{{else:}}
    {{for each_log in json:}}
        <h3>{{=each_log.name}}</h3>
        <textarea class="log" cols="200" id="logs_log" name="log" rows="50" readonly>
        {{=each_log.log}}
        </textarea>
        <br>
    {{pass}}    
{{pass}},'#009688','#ff9800','#673ab7'
-->
<script>
    document.body.style.background = '#00bcd4';
</script>
