{{extend 'layout.html'}}
<script>
function changeValues(){
    $("#duration").val($("#graphtime").val());
    $('#graph_form').submit();
 }
</script>

<div>
    <h1>Monitor your nodes</h1>
    <div class="graphview" >
        Select graph duration:
        <select id="graphtime">
                <option value="hour">1 Hour</option>
                <option value="2hr">2 Hours</option>
                <option value="5hr">5 Hours</option>
                <option value="day">Day</option>
                <option value="week">Week</option>
                <option value="month">Month</option>
                <option value="year">Year</option>
        </select>
        <form id="graph_form" style="display:none">
          <input id="duration" name="duration" value="hour">
          <input name="xmppid" value="{{=request.get_vars['xmppid']}}">
        </form>
        <div>
            {{for i in range(len(json)):}}
                <figure style="float:left">
                    <img src="{{= json[i]['url'] }}">
                    <figcaption>{{=json[i]['title']}}</figcaption>
                </figure>
            {{pass}}
        </div>
    </div>
    <br>
    <a href="{{=URL('log')+'?node='+request.get_vars['xmppid']}}">Click to see log files</a>
</div>

<script>
$( "#graphtime" ).on( "change",changeValues);
</script>



